body{
  background-color:
}
#showing {
       display: none;
     }
}
.clickable {
       cursor: pointer;
       color: #0088cc;
     }

     .clickable:hover {
       text-decoration: underline;
     }
     .test-box {
       text-align: center;
       border:10px solid maroon;
       padding: 7px;
       margin: 20px;
       background-color: pink;
     }
